{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h2>PROJECT XYZ</h2>
This is a sample Flask App and it determine your alcohol behavior type

<h4> For New Drinkers:</h4>
The app gives you a list of drinks that you can tolerate or might want to try

<h4> For People with Alcoholism and want to Quit:</h4>
The app gives you a list of healthier alternatives (lower alcohol content)

<h4> More upcoming features in 2023 </h4>

<br> Random Photos Below:
<br>
<img src="https://picsum.photos/500/300" class="rounded float-right" alt="Random Photo 1">
<img src="https://picsum.photos/200/300" class="rounded float-left" alt="Random Photo 2">
<img src="https://picsum.photos/300/300" class="rounded float-right" alt="Random Photo 3">
<img src="https://picsum.photos/400/300" class="rounded float-right" alt="Random Photo 4">

{% endblock %}